.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}


.footer{
  background-color: #D1C4E9;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}

.color{
  background-color: #d0e9c4;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}

.edit-save{
  height: 22px;
  width : 50px;
  padding: 0px;
  font-size: 14px;
}
.edit-save-arrow{
  height: 22px;
  width : 22px;
  padding: 0px;
  font-size: 14px;
}

.color-button{
  border: 0px;
  height: 30px;
  width: 30px;
  border-radius: 6px;
  margin: 2px;
}

.jumbotron {
  padding:70px 30px 70px 30px;
  margin:0px auto;
  background: #9575CD ;
  color:floralwhite;
}

address{
  font-size:80%;
  margin:0px;
  color:#0f0f0f;
}

.navbar-dark {
  background-color: #512DA8;
}

.navbar-light {
  background-color: #b299ee;
}

/*///////////// for the page sliding ///////////////*/


.page-enter {
  opacity: 0.01;
  transform: translateX(-100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 300ms ease-in;
}

.page-exit {
  opacity: 1;
  transform: translateX(0%);
}

.page-exit-active {
  opacity: 0.01;
  transform: translateX(100%);
  transition: all 300ms ease-out;
}


/*////////// edit box /////////*/

.button-edit-box{
  height: '240px';
  width : '50px';
  font-size:'14px';
  padding:'0px';
  background: #181818;
}